-# Dividers ------------------------------------------------------------------
%p Dividers are little useful additions to the standart <code>hr</code> element. Their main role is to divide content. Simply apply one of the available dividers classes to any <code>hr</code> element.

-# Example
= featureExample do
  %p #{ lorem.paragraph }.
  %hr.divider
  %p #{ lorem.paragraph }.
  %hr.divider-2
  %p #{ lorem.paragraph }.
  %hr.divider-3
  %p #{ lorem.paragraph }.
-# /Example

-# Code
= featureCode do
  :numcode
    <hr class="divider" />
    <hr class="divider-2" />
    <hr class="divider-3" />
-# /Code