-# Drop cap regular ----------------------------------------------------------
%p The drop caps are often seen at the beginning of articles, where the top of the first letter of the first word takes more space and has bigger size.
%p The first example is regular drop cap.

-# Example
= featureExample do
  %p <span class="drop-cap">T</span>his is really simple dropcap example. #{lorem.paragraph}.
-# /Example

-# Code
= featureCode do
  :numcode
    <span class="drop-cap">T</span>his is really simple dropcap example...
-# /Code


-# Drop cap two --------------------------------------------------------------
%p Here is the example of slightly different drop cap.

-# Example
= featureExample do
  %p <span class="drop-cap-2">T</span>his is really simple dropcap example. #{lorem.paragraph}.
-# /Example

-# Code
= featureCode do
  :numcode
    <span class="drop-cap-2">T</span>his is really simple dropcap example...
-# /Code