-# Contextual text -----------------------------------------------------------
%p It is possible to give some meaningful context weight to some pieces of textual content. There are several special classes to use.

-# Example
= featureExample do
  %p.text-soft Molestiae unde dolores ut blanditiis qui est impedit et consequatur laudantium aut quod sint vero. officia soluta est provident nihil est voluptate. quaerat repellat neque sed harum rem aut ut similique et aut est voluptate sint labore.
-# /Example

-# Code
= featureCode do
  :numcode
    <p class="text-soft">Content...</p>
-# /Code


-# Example
= featureExample do
  %p.text-strong Molestiae unde dolores ut blanditiis qui est impedit et consequatur laudantium aut quod sint vero. officia soluta est provident nihil est voluptate. quaerat repellat neque sed harum rem aut ut similique et aut est voluptate sint labore.
-# /Example

-# Code
= featureCode do
  :numcode
    <p class="text-strong">Content...</p>
-# /Code


-# Example
= featureExample do
  %p.text-complement Molestiae unde dolores ut blanditiis qui est impedit et consequatur laudantium aut quod sint vero. officia soluta est provident nihil est voluptate. quaerat repellat neque sed harum rem aut ut similique et aut est voluptate sint labore.
-# /Example

-# Code
= featureCode do
  :numcode
    <p class="text-complement">Content...</p>
-# /Code


-# Example
= featureExample do
  %p.text-success Molestiae unde dolores ut blanditiis qui est impedit et consequatur laudantium aut quod sint vero. officia soluta est provident nihil est voluptate. quaerat repellat neque sed harum rem aut ut similique et aut est voluptate sint labore.
-# /Example

-# Code
= featureCode do
  :numcode
    <p class="text-success">Content...</p>
-# /Code


-# Example
= featureExample do
  %p.text-info Molestiae unde dolores ut blanditiis qui est impedit et consequatur laudantium aut quod sint vero. officia soluta est provident nihil est voluptate. quaerat repellat neque sed harum rem aut ut similique et aut est voluptate sint labore.
-# /Example

-# Code
= featureCode do
  :numcode
    <p class="text-info">Content...</p>
-# /Code


-# Example
= featureExample do
  %p.text-warning Molestiae unde dolores ut blanditiis qui est impedit et consequatur laudantium aut quod sint vero. officia soluta est provident nihil est voluptate. quaerat repellat neque sed harum rem aut ut similique et aut est voluptate sint labore.
-# /Example

-# Code
= featureCode do
  :numcode
    <p class="text-warning">Content...</p>
-# /Code


-# Example
= featureExample do
  %p.text-error Molestiae unde dolores ut blanditiis qui est impedit et consequatur laudantium aut quod sint vero. officia soluta est provident nihil est voluptate. quaerat repellat neque sed harum rem aut ut similique et aut est voluptate sint labore.
-# /Example

-# Code
= featureCode do
  :numcode
    <p class="text-error">Content...</p>
-# /Code